<h1 class="ui header">Your Boards</h1>
<%= link_to "Add Board", new_board_path %>
<% @boards.each do |board| %>
  <div class="row">
  <div class="col s4">
  <h1> <%= link_to board.name, board_path(board) %></h2>
  </div>

<% end %>
  </div>
  </div>
  <br />
