<nav class="grey lighten-1">
  <div class="container">

  <h5 class="brand-logo left"> Trollo (kinda)</h5>

    <ul class="right hide-on-med-and-down">

      <li class="tab"> <%= link_to "Boards", boards_path %> </li>

      <li class="tab"> <%= link_to "Lists", lists_path %> 

      <li class="tab"> <%= link_to "Log Out", boards_path, method: :delete %>

      </li>

    </ul>

</div>
</nav>