<nav class="nav-extended">
  <div class="nav wrapper">
    <h1> Your Boards </h1>
    <div-class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"> <%= link_to "Add Board", new_board_path %>
      <li class="tab"> <%= link_to "Delete Board", boards_path, method: :delete %>
      <li class="tab"> <%= link_to "Log Out", delete_user_session, method: delete %>
    </ul>
    </div>
  </div>
</nav>